repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
   - id: fmt
   - id: cargo-check
   - id: clippy
- repo: local
  hooks:
    - id: dioxus-fmt
      name: dioxus formatter
      entry: dx fmt
      language: system
      types: [rust]
      pass_filenames: false
    - id: dioxus-check
      name: dioxus check
      entry: dx check
      language: system
      types: [rust]
      pass_filenames: false
